<footer>
        <div class="supportFooter">
            <a href="" id="link">If you find this work helpful, consider supporting it on Ko-fi.</a>
        </div>
        <div class="mainFooter">
            <section class="shortDescription">
                <a href="" class="textLogoFooter">Pointaris</a>
                <p class="miniDesc">In a world obsessed with the "big picture," we focus on the fundamental. We believe that the point is everything. It is the origin of every line, the center of every circle, and the core of every argument. From the singular coordinates that define our universe to the sharpest insights that change our minds, we prove that greatness isn't found in the masses—it’s found in the precision of the point. </p>
                <p class="briefLicence">© 2026 Pointaris</p>
                <p class="briefLicence">Independent publication by Priangga Ardhana Rambana</p>
                <p class="briefLicence">Articles, SVG graphics, and educational content are licensed under CC BY-NC-SA 4.0. Source code is licensed under GNU GPLv3 unless otherwise stated.</p>
            </section>
            <div class="moreInfo">
                <section class="blogList">
                    <h5>Blog</h5>
                    <a href="/about" class="linkInfo">About</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Goal</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Dream</a>
                </section>
                <section class="articleList">
                    <h5>Article</h5>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Fundamental</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Implementation</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Archive</a>
                </section>
                <section class="otherList">
                    <h5>Other</h5>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Privacy Policy</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Content Licence</a>
                    <a href="https://anmapuarda.github.io/situs/" class="linkInfo">Cookie Policy</a>
                </section>
            </div>
        </div>
    </footer>
